{% extends "/admin/index.html" %} {% block content %}
<div class="dashboard-wrapper">
  <div class="dashboard-influence">
    <div class="container-fluid dashboard-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <a href="{{url_for('users')}}">
                <button type="button" class="btn btn-sm btn-out-primary">
                  <i class="fa fa-chevron-circle-left" aria-hidden="true"></i
                  >Back
                </button></a
              >
            </div>
            <div class="card-body">
              <h3>{{user['name']}}</h3>
              <ul>
                <li>User Gender: {{user['gender']}}</li>
                <li>User Phone: {{user['phone']}}</li>
                <li>User Email: {{user['email']}}</li>
                <li>User Address: {{user['address']}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
